.DS_Store
**/.DS_Store
**/__pycache__
*.pyc
*.zip
/tmp/
infrastructure/policy.json
infrastructure/trust-policy.json
infrastructure/new_agent_keys.json
manual_response.json
manual_response_2.json
response.json
tasks.json
